@import url('https://fonts.googleapis.com/css?family=Karla|Lobster');
* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}
body {
    color: #2f3542;
    min-height: 100vh;
}
h1 {
    color: #fff;
    background: #2f3542;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    padding: 60px 40px;
}
h2 {
    font-size: 23px;
    margin-bottom: 15px;
}
.rules {
    padding: 50px 50px 10px 50px;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: #f1f2f6;
}
.game {
    padding: 0 50px;
    display: flex;
    flex-flow: column;
}
.field {
    padding: 20px 0;
}
.textField {
    padding: 10px;
    border-radius: 4px;
    position: relative;
    border: 2px solid #1e90ff;
    margin-top: 15px;
    transition: .6s;
    height: 45px;
}
.textField span {
    color: #1e90ff;
    transition: .6s;
    position: absolute;
    margin:auto;
    left: 5px;
    top: 9px;
}
.textField input {
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: 0;
    background: transparent;
    font-size: 20px;
    padding: 0 10px;
}
.textField.active {
    margin-top: 45px;
}
.textField.active span {
    font-size: 25px;
    font-weight: bold;
    top: -36px;
    left: 0;
}
button {
    outline: none;
    border: 0;
    padding: 5px 10px;
    background: #1e90ff;
    color: #fff;
    align-self: flex-end;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #2323239e;
}
button:hover {
    box-shadow: 2px 2px 1px #232323bb;
    background: #3d9bf8;
}
#action2 {
    display: none;
}
#response {
    padding: 30px 0;
    font-size: 20px;
    display: none;
}
.load-bar {
    width: 400px;
    border: 2px solid #f31;
    overflow: hidden;
    border-radius: 5px;
    height: 35px;
    position: relative;
}
#loader {
    display: none;
}
#status {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;;
    width: 0;
    background: #f31;
    transition-duration: 0s, 10s;
    transition-property: opacity, width;
    transition-timing-function: linear;
    opacity: 0;
}
#status.active {
    opacity: 1;
    width: 100%;
}